.background-primary {
  background-color: #fff;
}

.background-secondary {
  background-color: #440884;
}

.background-tertiary {
  background-color: #a50000;
}

.text_primary {
  color: #fff;
}

.text_secondary {
  color: #440884 !important;
}
