::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

html {
	scroll-behavior: smooth;
}

@media (min-height: 10vh) {
	#nav {
		position: sticky;
		padding-top: 4vh;
		padding-bottom: 4vh;
		top: 0;
	}
}

.hvr_ul {
	display: inline-block;
}

.hvr_ul::after {
	display: block;
	content: '';
	border-bottom: solid 3px #a50000;
	transform: scaleX(0);
	transition: transform 250ms ease-in-out;
	transform-origin: 0% 50%;
}

.hvr_ul:hover::after {
	transform: scaleX(1);
}
